@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: custom styles */
body {
  @apply bg-gray-50 text-gray-800;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
